.project-containerr {
    max-width: 900px;
    margin: 0 auto; /* Esto centrará el contenedor en la página horizontalmente */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px; /* Espacio entre tarjetas */
    padding-bottom: 5rem;
    justify-content: center; /* Centrar las columnas horizontalmente */
    text-align: center;
    margin-top: 20px;
  }
  
  
  .project-cardd {
    background: #e0dddd;
    border-radius: 5px;
    padding-bottom: 10%; /* Mantener la relación de aspecto 1:1 de la tarjeta */
  }
  

  .imagen{
    width: 300px;
    height: auto;
    border-radius: 2px;
  }
  
  .project-titlee {
    color: rgba(61, 62, 150, 0.85);
    padding: 1rem 20px 0rem 20px;
    text-align: left;
    font-weight: bold;
    font-size: 1.3rem;
  }
  
  .pro-descripcion {
    padding: 0rem 20px 0rem 20px;
    text-align: justify;
    word-spacing: normal;
    font-size: 1rem;
  }
  
  .pro-btns {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    text-align: center;
  }
  
  
  
  
  .secondary-button {
    padding: 1rem 3rem;
    background-color: #fe9e0d;
    outline: none;
    border: none;
    border-radius: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    /* display: flex; */
    align-items: center;
    justify-content: center;
  }
  .secondary-button svg {
    margin-left: 0.75rem;
    font-size: 1.5rem;
  }
  .secondary-button:hover {
    background-color: #e48f0f;
  }
  
  @media screen and (max-width: 945px) {
    .project-container {
      max-width: 10%;
      margin: auto;
      grid-template-columns: 1fr;
    }

    .project-card img {
      width: 350px;
      height: 250px; /* Establece la altura fija que desees para las imágenes */
       /* El ancho se ajustará automáticamente */
      border-radius: 2px;
    }
  }