.group-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10rem 50px 3rem 50px;
    max-width: 900px; /* Establece un ancho máximo de separacion*/
    margin: 0 auto;
  }

  .member {
    text-align: center;
    margin: 0 10px; /* Ajusta la separación entre los miembros */
  }
  
  .member-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  
  .member-name {
    margin-top: 30px;
    font-weight: bold;
    text-align: left;
  }
  
  .member-description {
    margin-top: 5px;
    font-size: 14px;
  }

  @media screen and (max-width: 800px) {
    .group-container {
      flex-direction: column; /* Cambia la dirección de flexión a columna */
      align-items: center; /* Centra los elementos en la dirección principal */
    }
  
    .member {
      margin: 15px 0; /* Ajusta la separación entre los miembros en la columna */
    }
  }