.footer {
  display: flex;
  padding: 40px 0; /* Alto de Footer */
  color: white; /* Cambia el color del texto a blanco */
  flex-direction: column;
  /* background-image: url('../img/footer.png'); */
  background-size: cover;
  /* background-position: center; */ /* PARA QUE LA IMAGEN QUEDE CENTRADA */
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -1;

}

.container {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  max-width: 100%; /* Ajusta el ancho máximo */
  margin: 0;
  padding: 40px;
}

.Informacion{
  justify-content: center;
  padding: 0rem 0px 0rem 20px;
}

.Contacto{
  justify-content: center;
  padding: 0rem 0px 0rem 20px;
}

.Contacto p,
.Informacion p {
  margin-bottom: 5px;
 
}

.logotipo{
  justify-content: center;
  padding: 0rem 0px 0rem 50px;
}

.social-links {
  display: flex;
  margin-top: 5px;
}


.mui:hover {
  color: lightgreen;
  transition: all 0.2s ease;
}


  .links {
    text-decoration: none;
    color: inherit;
  }
  
  .links:hover {
    color: green;
  }
  

  
  .rights {
    text-align: center;
    margin-top: 10px; /* Ajusta el espacio superior del contenedor de derechos de autor */
  }
  
  .rights p {
    margin-top: 10px; /* Ajusta el espacio superior del texto de derechos de autor */
  }



  @media screen and (max-width: 900px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
      
    }
  }

  @media screen and (max-width: 505px) {
    .container {
      grid-template-columns: 1fr;
      grid-gap: 0px;
    }

    .container div {
        margin-bottom: 30px;
        margin-left: 30px;
      }
      .logotipo{
        justify-content: center;
        padding: 0rem 0px 0rem 20px;
      }
      .social-links {
        justify-content: center; 
        padding: 0rem 50px 0rem 0px;
        margin-top: 20px;
      }
      .rights {
        margin-top: -60px; 
        justify-content: center;
      }
  }